@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

html::-webkit-scrollbar {
     display: none;
}

body {
     font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}